* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.container {
    width: 1145px;
    margin: auto;
}
.page-header {
    padding: 25px 0;
}
.page-nav-list {
    display: flex;
    justify-content: center;

}
.page-nav-item {
    list-style: none;

}

.page-nav-link {
    text-transform: uppercase;
    color: red;
    text-decoration: none;
    margin-left: 72px;
}
.main-content-photo {
    width: 100%;
}
.page-title {
    text-align: center;
    text-transform: uppercase;
    line-height: 27px;
    font-size: 22px;
    margin-bottom: 38px;
    margin-top: 49px;
}
.page-text {
    line-height: 26px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 28px;
}
.button-item {
    text-align: center;
    margin-top: 66px;
}
.button {
    background-color: red;
    border: 4px;
    padding: 18px 43px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}
.footer-copyright {
    text-align: end;
    font-size: 16px;
    padding-top: 82px;
    padding-bottom: 29px;

}